{% extends "base.html" %}

{% block title %}Address{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div id="map" class="col-12 col-sm-6" >

        </div>
        <div class="col-12 col-sm-6 text-center">
            <h1>የመድህናት <br>INTERNAL MEDICINE SPECIALIST <br>CLINIC</h1>
            <p>ቦል ቡልቡላ ማርያም ማዞሪያ ቃለህይወት ብ/ክርስቲያን ፊትለፊት</p>
            <p>Telegrame <a class="nav-link" href="https://t.me/yemedhnat">https://t.me/yemedhnat</a></p>
        </div>
    </div>
</div>

{% endblock %}