{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <h1 class="text-center">Log-in</h1>
 {% if form.errors %}
    <p class="text-center">
        Your username and password didn't match.
        Please try again.
    </p>
 {% else %}

 <p class="text-center ">Please, use the following form to log-in:</p>
    {% endif %}
    <div class="d-flex justify-content-center align-items-center col-12">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <form action="{% url 'login' %}" method="post" style="width: 25%;padding:5px;">
                {{ form.as_table }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Log-in"></p>
            </form>
            <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
        </div>
    </div>
{% endblock %}